<form class="room-selection-form hotel-page__block">
    <h2 class="hotel-page__block__title">Available rooms</h2>

    <fieldset>
        <table class="rooms-table">

            <thead>
                <th class="rooms-table__head-cell rooms-table__room__name">Room Name</th>
                <th class="rooms-table__head-cell rooms-table__room__occupancy">Occupancy</th>
                <th class="rooms-table__head-cell rooms-table__room__price">Price per Room</th>
                <th class="rooms-table__head-cell rooms-table__room__select">No.Rooms</th>
            </thead>

            <tbody>
                <% rooms.each_with_index do |room, i| %>
                    <tr class="rooms-table__room">
                        <td class="rooms-table__body-cell rooms-table__room__name">
                            <%= room[:name] %>
                        </td>
                        <td class="rooms-table__body-cell rooms-table__room__occupancy">
                            <%= room[:occupancy] %>
                        </td>
                        <td class="rooms-table__body-cell rooms-table__room__price">
                            <%= number_to_currency(room[:price_per_room], unit: "€", separator: ".") %>
                        </td>
                        <td class="rooms-table__body-cell rooms-table__room__select">
                            <select name="room[<%= i %>][occupancy]">
                                <% (0..10).each do |j| %>
                                    <option value="<%= j %>"><%= j %></option>
                                <% end %>
                            </select>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <div class="room-selection-form__summary">
            <p>
                <span class="room-selection-form__summary__rooms">0 rooms</span>
                selected for
                <span class="room-selection-form__summary__total-price">€0.00</span>
            </p>
        </div>

        <div class="room-selection-form__submit-wrapper">
            <button class="room-selection-form__submit">Book now</button>
        </div>
    </fieldset>
</form>
