<!DOCTYPE html>
<html>
<head>
    <title>Diez Hotel - A/B testing workshop</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/header" %>
<%= @experiments_list %>
<%= @experiments_variants %>
<main class="main-content main-content--hotel-page">
    <%= yield %>
</main>

<%= render "shared/footer" %>

<%= javascript_include_tag 'application' %>

</body>
</html>
